
.menuzao{
    background-color: #73162F; 
}
.cabecalho_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.nav-links a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

.cabecalho_logo{
    height: 5vw;
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}
   /* MENU SUSPENSO */
.services {
    position: relative; 
}
.dropdown {
    background-color: rgb(172, 38, 83);
    padding: 1em 0;
    position: absolute; /*COM RELAÇÃO AOS PAIS*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #093b04;
}
.services:hover .dropdown {
    display: block;
}

