.ledsonphoto{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/team.JPG");
        background-position: center;
        background-size: cover;
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--text-color);
        padding-top: 9vw;

} 
.titulo-led{
    font-size: 5vw;
    align-content: center;
    font-weight: bold;
    margin-left: 50px;
}
